<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login Page </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <!-- <div>
            <form action="/" method="post"> 
             
                <div class="form-outline mb-4">
                  <input type="text" name="email" id="email" class="form-control" />
                  <label class="form-label" for="email">Email address</label>
                </div>
              
             
                <div class="form-outline mb-4">
                  <input type="password" name= "password" id="password" class="form-control" />
                  <label class="form-label" for="password">Password</label>
                </div>
        
               <div class="form-outline mb-4">
                <select name="option" id="option" class="form-control">
                  <option value="option1">Student</option>
                  <option value="option2">Teacher</option>
                </select>
                <label class="form-label" for="option">Options</label>
              </div>

         
              <div class="form-outline mb-4">
                <input type="number" name="age" id="age" class="form-control" min="0" />
                <label class="form-label" for="age">Age</label>
              </div>
              
                <input type="submit" value="Login">
              </form>
        </div>
    </body>
</html> -->
<div>
  <h1>Welcome to our website!</h1>
  <p>Please select an option:</p>
  <ul>
    <li><button onclick="location.href='/login'">Login</button></li>
    <li><button onclick="location.href='/register'">Register</button></li>
  </ul>
</div>