<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
    <h1>Login Page</h1>
    
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Login">
    </form>
</body>
</html>